.about-intro {
    padding: 6rem 0rem;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__content-small {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--color-light-1);
        margin-bottom: 2rem;
        max-width: 25rem;
    }

    &__content-main {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__content {
        position: relative;
        color: var(--color-dark-1);
    }

    @media screen and (min-width: $md) {
        &__container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 0px;
        }

        &__content-small {
            font-size: 1rem;
        }

        &__content {
            grid-area: 1 / 6 / 2 / 12;
        }
    }

    @media screen and (min-width: $lg) {
        padding: 10rem 0 8rem;

        &__content-main {
            font-size: 2rem;
        }
    }
}

.profile-image {
    position: relative;

    &__container {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (min-width: $md) {
        &__container {
            padding: 0 2rem;
        }
    }
}

.block-quote {
    position: relative;
    padding: 4rem 0rem;

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--color-dark-1);
    }
}